<article class="own_post_card">
    <div>
        <a href="/dashboard/edit/{{id}}">
            {{post_title}}
        </a>
    </div>
    <div>
        <span>{{format_date created_at}}</span>
    </div>
</article>