<section class="post_card">
    <div class="post_title_container">
        <div class="post_title">
            Edit Post
        </div>
    </div>
    <div class="post_body">
        <form class="post_form" id="editPostForm">
            <div class="form_row">
                <label class="display_block" for="editPostTitle">Title</label>
                <input class="post_form_input display_block" type="text" id="editPostTitle" value="{{post.post_title}}"/>
            </div>
            <div class="form_row">
                <label class="display-block" for="editPostContent">Content</label>
                <textarea rows="5" class="post_form_input display_block" id="editPostContent">{{post.post_content}}</textarea>
            </div>
            <div>
                <button type="submit" class="btn form_btn">Update Post</button>
                <button type="button" class="btn form_btn" id="deletePostBtn">Delete Post</button>
            </div>
        </form>
    </div>
</section>

{{#if (has_array_elements post.comments)}}
{{> comments post.comments}}
{{/if}}

<script src="/javascript/modify-post.js"></script>