/* Variables */
:root {
    --color-primary: rgb(217, 234, 211);
    --color-secondary: rgb(35, 16, 16);
    --color-tertiary: rgb(102, 102, 102);
    --color-shadow: rgb(167, 167, 167);
    --font-main-title: 3.0rem;
    --font-main-title-large: 5.0rem;
    --font-link: 1.2rem;
}

/* Styles for HTML Tags */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

header {
    height: 140px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 20px 20px 20px 20px;
}

main {
    margin: 20px 20px;
}

/* Styles for navbar and header*/

.navbar ul { /* Considered nav as a flexbox item */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
    padding: 5px;
    
}

.navbar ul li a {
    margin: 3px;
    padding: 3px 4px 5px 4px;
    color: var(--color-primary);
    text-decoration: none;
}

.header_title {
    margin: 20px 20px; 
}

.header_title h1 {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 5px;
    box-shadow: 5px 5px var(--color-shadow);
}

/* Styles for posts and forms */
.all-posts {
    list-style: none;
    padding-bottom: 15px;
}

.all-posts li {
    margin-bottom: 15px;
}

.post_card {
    padding: 0;
}

.post_title_container {
    margin: 0;
    padding: 10px 15px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 3px 3px 0 3px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    border-color: var(--color-secondary);
}
.post_title {
    font-weight: bold;
}

.post_title a {
    text-decoration: none;
    color: var(--color-primary);
}
.post_title a:hover {
    color: var(--color-shadow);
}

.post_meta_data {
    font-size: small;
}

.post_body {
    border: 3px solid var(--color-secondary);
    padding: 15px;
}

.post_form_input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    font-size: large;
}

.own-posts-container ul{
    list-style: none;
}

.own_post_card {
    margin: 8px 0;
    padding: 10px 15px;
    background-color: var(--color-tertiary);
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.own_post_card a {
    text-decoration: none;
    color: white;
}

.own_post_card a:hover {
    color: var(--color-shadow);
}

.form_row {
    margin-bottom: 20px;
}

.comments_container, .comment_form, .new_post_form {
    margin-top: 20px;
    padding-bottom: 15px;
}

.comment_body {
    border-width: 3px;
    border-style: none solid dashed solid; 
    border-color: var(--color-secondary);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_body:last-child {
    border-style: none solid solid solid; 
}

.comment_text, .comment_meta_data {
    padding: 5px 0;
}

.form_link {
    margin-top: 8px;
}

.form_link a {
    text-decoration: none;
    color: blue;
}

.new_post_btn_container {
    display: flex;
    justify-content: flex-end;
}

/* Styles for buttons */
.btn {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.new_post_btn {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    font-size: larger;
}

.form_btn {
    width: 100%;
    font-size: large;
    font-weight: 400;
    background-color: var(--color-tertiary);
    color: white;
}

.remove_btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    font-size: 100%;
    font-weight: 400;
}

.btn-link:focus {
    outline: none!important;
}

/* Utility classes */
.display_block {
    display: block;
}

.display_none {
    display: none;
}

@media screen and (max-width: 392px) {
    header {
        height: 175px;
    }
}